body{
  background-color: #ddd;
}
#tabs{
  background-color: #ededed;
  margin-top: 20px;
  padding: 10px;
}
#tabs ul{
  padding: 0;
}
#tabs .tab{
  display: inline-block;
  margin-right: 15px;
}
#tabs .tab a{
  color: #80bd01;
  text-decoration: none;
}

#topics{
  list-style: none;
  padding: 0;
  border: 1px solid #ededed;
}
.topic{
  padding: 10px;
  border-bottom: 1px solid #ededed;
  background-color: #fff;
}
.topic-creator-avator img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#topics .tag{
  background-color: #80bd01;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 3px;
}
.title-and-num{
  display: inline-block;
  vertical-align: middle;
}
.title{
  display: block;
}
.replys{
  color: #9e78c0;
}
.views{
  color: #999;
}
.last-reply-time{
  float: right;
}
