html,body{
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul{
  margin: 0;
}
a {
  color: #00B7FF;
}
.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#header{
  background-color: #444;
  height: 50px;
}
#logo{
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  float: left;
}
#nav-bar{
  float: right;
  list-style: none;
}
.nav-item{
  display: inline-block;
  line-height: 50px;
  color: #fff;
  margin-left: 20px;


  position: relative;
}
.nav-item > a{
  color: #fff;
  text-decoration: none;
}
.nav-item > a:hover{
  color: #aaa;
}

#footer{
  height: 100px;
  background-color: #eaeaea;
  text-align: center;
}
.site-info{
  display: inline-block;
  margin-right: 20px;
  color: #2c3e50;
  line-height: 100px;
}



#user-login-dropdown{
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #fff;
  border: 1px solid #aaa;
}
.not-login{
  width: 300px;
  padding: 20px;
}
.login-user-info{
  width: 200px;
  text-align: center;
  padding: 10px;
}
.login-user-info > p{
  margin: 10px;
  color: #aaa;
}
.login-user-avatar{
  height: 100px;
}
.login-user-avatar > img{
  height: 100%;
}
#input-token{
  width: 160px;
  margin-right: 10px;
  padding: 10px;
}
#login-button{
  width: 40px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ededed;
  border-radius: 3px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
