<div id="header">
  <div class="container">
    <div id="logo">
      <span>CNode</span>
    </div>
    <div id="nav-bar">
      <ul>
        <li class="nav-item">
          <a href="#">首页</a>
        </li>
        <li class="nav-item" id="nav-login-item">
          <a href="#">
            {% if user %}
            {{user.loginname}}
            {% else %}
            登录
            {% endif %}
          </a>
          <div id="user-login-dropdown">
            <div class="not-login" style="{% if user %}display: none;{% else %}display: block;{% endif %}">
              <input type="text" placeholder="请输入cnode地token" id="input-token">
              <a href="#" id="login-button">登陆</a>
            </div>
            <div class="login-user-info" style="{% if user %}display: block;{% else %}display: none;{% endif %}">
              <div class="login-user-avatar">
                {% if user %}
                <img src="{{user.avatar_url}}" alt="">
                {% else %}
                <img src="" alt="">
                {% endif %}
              </div>
              <p class="login-user-name">
                {% if user %}
                {{user.loginname}}
                {% endif %}
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
